<script>
var valuesN = questions[0].effect.length;
// questions에는 질문과 가중치가 들어있음
// _config에 있는 values-N만큼의 변수를 계산
var values = new Array();      // 현재값 (가치)
var max_values = new Array();  // 최대값 (가치)
var Q_number = 0;              // 질문 수
var pre_A = null;              // 이전 답안
// 가치값 초기화
for(var i=0; i < valuesN; i++) {
  values[i] = max_values[i] = 0;
  for(var j=0; j < questions.length; j++){
    max_values[i] += Math.abs(questions[j].effect[i]);
  }
}
init_question();

function init_question() {
  $("#question-text").html(questions[Q_number].question);
  $("#question-number").html("질문 " + (Q_number + 1)
                              + " /  " + (questions.length));
  if (pre_A == null) {
    $("#back_button").addClass("disabled");
  } else {
    $("#back_button").removeClass("disabled");
  }
}
function next_question(mult) {
  for(var i=0; i < valuesN; i++) {
    values[i] += mult*questions[Q_number].effect[i];
  }
  Q_number++;
  pre_A = mult;
  if (Q_number < questions.length) {
    init_question();
  } else {
    results();
  }
}
function prev_question() {
  if (pre_A == null) {
    return;
  }
  Q_number--;
  for(var i=0; i < valuesN; i++) {
    values[i] -= prev_answer * questions[Q_number].effect[i];
  }
  prev_answer = null;
  init_question();
}
function calc_score(score, max) {
  return (100*(max+score)/(2*max)).toFixed(1);
}
function results() {
  var href = `{{ site.url }}/result/`
  for(var i=0; i < valuesN; i++) {
    href += "?" + String.fromCharCode(97 + i) +
            new String('=', calc_score(val1,max_val1));
  }
  location.href = href;
}
</script>
