<script>
var max_val1, max_val2, max_val3, max_val4; // Max possible scores
max_val1 = max_val2 = max_val3 = max_val4 = 0;
var val1, val2, val3, val4; // User's scores
val1 = val2 = val3 = val4 = 0;
var qn = 0; // Question number
var prev_answer = null;
init_question();
for (var i = 0; i < questions.length; i++) {
    max_val1 += Math.abs(questions[i].effect.val1)
    max_val2 += Math.abs(questions[i].effect.val2)
    max_val3 += Math.abs(questions[i].effect.val3)
    max_val4 += Math.abs(questions[i].effect.val4)
}
function init_question() {
    document.getElementById("question-text").innerHTML = questions[qn].question;
    document.getElementById("question-number").innerHTML = "질문 " + (questions.length) + "개 중 " + (qn + 1) ;
    if (prev_answer == null) {
        document.getElementById("back_button").style.display = 'none';
        document.getElementById("back_button_off").style.display = 'block';
    } else {
        document.getElementById("back_button").style.display = 'block';
        document.getElementById("back_button_off").style.display = 'none';
    }

}

function next_question(mult) {
    val1 += mult*questions[qn].effect.val1
    val2 += mult*questions[qn].effect.val2
    val3 += mult*questions[qn].effect.val3
    val4 += mult*questions[qn].effect.val4
    qn++;
    prev_answer = mult;
    if (qn < questions.length) {
        init_question();
    } else {
        results();
    }
}
function prev_question() {
    if (prev_answer == null) {
        return;
    }
    qn--;
    val1 -= prev_answer * questions[qn].effect.val1;
    val2 -= prev_answer * questions[qn].effect.val2;
    val3 -= prev_answer * questions[qn].effect.val3;
    val4 -= prev_answer * questions[qn].effect.val4;
    prev_answer = null;
    init_question();

}
function calc_score(score,max) {
    return (100*(max+score)/(2*max)).toFixed(1)
}
function results() {
    location.href = `results.html`
        + `?e=${calc_score(val1,max_val1)}`
        + `&d=${calc_score(val2,max_val2)}`
        + `&g=${calc_score(val3,max_val3)}`
        + `&s=${calc_score(val4,max_val4)}`
}
</script>
