<div id="sel-btn-wap" class="row center-align valign-wrapper">
  <div class="sel-btn-div">
    <button class="btn-floating waves-effect waves-light pink" onclick="next_question(-1.0)">
    <i class="material-icons">thumb_down</i>
    </button></div>
  <div class="sel-btn-div">
    <button class="btn-floating waves-effect waves-light red" onclick="next_question(-0.5)">
    </button></div>
  <div class="sel-btn-div">
    <button class="btn-floating waves-effect waves-light deep-purple" onclick="next_question( 0.0)">
      <i class="material-icons">help_outline</i>
    </button></div>
  <div class="sel-btn-div">
    <button class="btn-floating waves-effect waves-light blue" onclick="next_question( 0.5)">
    </button></div>
  <div class="sel-btn-div">
    <button class="btn-floating waves-effect waves-light indigo" onclick="next_question( 1.0)">
      <i class="material-icons">thumb_up</i>
    </button></div>
</div>
